<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./partials/head.ejs")  %>
</head>

<body>
    <section class="product-cart-section">
        <section class="product-cart">        
            <section class="up-section-cart">
                <a href="/"><button type="button" class="product-cart-button"><i class="fa-solid fa-angle-left"></i></button></a>
                <h3 class="up-section-cart__title">Carrito de compras</h3>
            </section>

            <section class="product-subtotal">
                <small>PRODUCTO</small>
                <small>SUBTOTAL</small>
            </section>
            <div class="product-cart-section-empy">
                <small>EL CARRO DE COMPRAS ESTÁ VACÍO</small>
            </div>
        </section>
    </section>
</body>
</html>